In [7]:
import pandas as pd
df=pd.read_csv(r"../Datasets/ClimateTest.csv")

In [ ]:
df.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333

In [ ]:
df.loc[0,"date"].day_name()
# so it is not in DateTime format.

AttributeError: 'str' object has no attribute 'day_name'

In [ ]:
df["date"]=pd.to_datetime(df["date"], format='%Y-%m-%d')
df["date"]
#converted into Datetime

0     2017-01-01
1     2017-01-02
2     2017-01-03
3     2017-01-04
4     2017-01-05
         ...
109   2017-04-20
110   2017-04-21
111   2017-04-22
112   2017-04-23
113   2017-04-24
Name: date, Length: 114, dtype: datetime64[ns]