# Read, Write, and Export CSV Files 
Covers loading CSV files, writing data, and exporting to CSV using Pandas.

In [114]:
import pandas as pd
# Option A: Double backslashes
penguins = pd.read_csv("D:\\python_env\\Pandas_Practise_Portfolio\\Datasets\\penguins.csv")
# Option B: Raw string
penguins = pd.read_csv(r"D:\python_env\Pandas_Practise_Portfolio\Datasets\penguins.csv")
# Option C: Forward slashes
penguins = pd.read_csv("D:/python_env/Pandas_Practise_Portfolio/Datasets/penguins.csv")

In pandas, the sep parameter specifies the delimiter that separates fields in csv file. 
1. A standad csv contains (,): column1,column2,column3
2. other delimiters jmight include tabs (\t); semicolons(;) or spaces
Delimiter is alias for sep which does same thing; we can use either but sep is preferable

In [115]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0


In [116]:
    penguins = pd.read_csv(r"D:\python_env\Pandas_Practise_Portfolio\Datasets\penguins.csv",
    sep=",",
    header=0, #means first row(row 0) is treated as column names and data starts from next row. or Header="infer"
    index_col="rowid")      #exisiting column as index rather than system generated index. 


    #names=[] if we dont have column names or it is not specified. 

    penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
rowid,,,,,,,,
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

import os  # python command that imports the built-in OS module which allows to interact vwith the operating system. 
1. it helps in file and directory manipulation: create, delete, rename and list files and directories. 
2. Path operations: os.path.join() can be used to construct file paths which is correct for specific OS.

# Process Large CSV files in chunks: it can be too big to fit in memory at once so processing them in similar samller chunks helps:
1. Avoid memory errors
2. Allow streaming and incremental processing
3. let us focus on most important parts only.

In [117]:
import pandas as pd

# Path to the CSV (e.g., Palmer Penguins dataset)
data_path = '..\Datasets\penguins.csv'

# Set chunk size (100 rows per chunk; adjust for larger files)
chunk_size = 100

# Create a generator to read the CSV in chunks, avoiding loading the full file into memory
penguins_chunk_reader = pd.read_csv(data_path, chunksize=chunk_size)

# Loop through each chunk (each chunk is a DataFrame)
for penguins_chunk in penguins_chunk_reader:
    # Inspect chunk size
    print(f"Chunk shape: {penguins_chunk.shape}")
    # Example: Count rows per species in this chunk
    species_counts = penguins_chunk['species'].value_counts()
    print("Species counts in chunk:\n", species_counts)

# Note: For a small dataset (~344 rows), chunking is overkill, but this scales to millions of rows.

Chunk shape: (100, 9)
Species counts in chunk:
 species
Adelie    100
Name: count, dtype: int64
Chunk shape: (100, 9)
Species counts in chunk:
 species
Adelie    52
Gentoo    48
Name: count, dtype: int64
Chunk shape: (100, 9)
Species counts in chunk:
 species
Gentoo       76
Chinstrap    24
Name: count, dtype: int64
Chunk shape: (44, 9)
Species counts in chunk:
 species
Chinstrap    44
Name: count, dtype: int64

When we read with chunksize, pandas does not load the whole dataset into memory as one DataFrame. Instead, it loads DataFrames chunk by chunk. So in a sense, we're still working with DataFrames, just smaller ones, processing them sequentially so memory usage stays manageable

In [118]:
# Example: To calculate the average body_mass_g for each species but the file is too big too load at once. 
import pandas as pd

# Path to your large CSV
data_path="../Datasets/penguins.csv"
# Set chunk size (e.g., 100 rows per chunk)
chunk_size = 100

# Create a chunk reader (returns a generator)
penguins_chunk_reader = pd.read_csv(data_path, chunksize=chunk_size)

# Initialize a list to store results from each chunk
species_means = []

# Iterate over chunks
for chunk in penguins_chunk_reader:
    # Process chunk: Compute mean body_mass_g per species
    chunk_mean = chunk.groupby('species')['body_mass_g'].mean().reset_index()
    species_means.append(chunk_mean)

# Combine results from all chunks
final_result = pd.concat(species_means).groupby('species')['body_mass_g'].mean().reset_index()
print(final_result)

     species  body_mass_g
0     Adelie  3692.174145
1  Chinstrap  3723.674242
2     Gentoo  5068.333333

pick a reasonable chunk_size(10,000-100,000) that keeps memory usage under 1 GB.

In [119]:
# Filtering and saving:
import pandas as pd
chunk_size=100
data_path="../Datasets/penguins.csv"
penguins_chunk_reader=pd.read_csv(data_path, chunksize=chunk_size)

# header to new CSV once.
header_written=False
for chunk in penguins_chunk_reader:
    filtered_chunk=chunk[chunk["body_mass_g"]>4000]

    # save to csv  (append mode after first chunk)
    filtered_chunk.to_csv("../Datasets/filtered_penguins.csv", mode="a", header= not header_written, index="True",index_label="rowid")
    header_written=True
print("filtered CSV saved!:")

filtered CSV saved!:

# Apply transformations on Dataframe

In [120]:
import pandas as pd
penguins_data=pd.read_csv(data_path, sep=",")
penguins_data
penguins_data["body_mass_g"]=penguins_data["body_mass_g"].transform(lambda x:x+1000).fillna(penguins_data["body_mass_g"].mean())
penguins_data[["species","body_mass_g"]].head()

  species  body_mass_g
0  Adelie  4750.000000
1  Adelie  4800.000000
2  Adelie  4250.000000
3  Adelie  4201.754386
4  Adelie  4450.000000

In [121]:
# another Transformation with Airthmetic:
penguins_data["body_mass_kg"]=penguins_data["body_mass_g"]/1000
penguins_data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,1,Adelie,Torgersen,39.1,18.7,181.0,4750.000000,male,2007,4.750000
1,2,Adelie,Torgersen,39.5,17.4,186.0,4800.000000,female,2007,4.800000
2,3,Adelie,Torgersen,40.3,18.0,195.0,4250.000000,female,2007,4.250000
3,4,Adelie,Torgersen,NaN,NaN,NaN,4201.754386,NaN,2007,4.201754
4,5,Adelie,Torgersen,36.7,19.3,193.0,4450.000000,female,2007,4.450000

In [122]:
# Filtering data:
dream_penguins=penguins_data[penguins_data["island"]=="Dream"]
dream_penguins.tail()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
339,340,Chinstrap,Dream,55.8,19.8,207.0,5000.0,male,2009,5.000
340,341,Chinstrap,Dream,43.5,18.1,202.0,4400.0,female,2009,4.400
341,342,Chinstrap,Dream,49.6,18.2,193.0,4775.0,male,2009,4.775
342,343,Chinstrap,Dream,50.8,19.0,210.0,5100.0,male,2009,5.100
343,344,Chinstrap,Dream,50.2,18.7,198.0,4775.0,female,2009,4.775

In [123]:
# simple categorization:
penguins_data["weight_category"]=penguins_data["body_mass_kg"].apply(lambda x: "Heavy" if x>4 else "light")
print(penguins_data.head())

   rowid species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0      1  Adelie  Torgersen            39.1           18.7              181.0
1      2  Adelie  Torgersen            39.5           17.4              186.0
2      3  Adelie  Torgersen            40.3           18.0              195.0
3      4  Adelie  Torgersen             NaN            NaN                NaN
4      5  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex  year  body_mass_kg weight_category
0  4750.000000    male  2007      4.750000           Heavy
1  4800.000000  female  2007      4.800000           Heavy
2  4250.000000  female  2007      4.250000           Heavy
3  4201.754386     NaN  2007      4.201754           Heavy
4  4450.000000  female  2007      4.450000           Heavy

In [124]:
# Export processed Data From Pandas DataFrame to csv. 
penguins_data.to_csv("..\Datasets\Processed_penguins.csv", index=False, sep=",", na_rep=" ")

In [125]:
# Final notebook code.

import pandas as pd
import os  
data_path="../Datasets/penguins.csv"

# check file and format:
if os.path.exists(data_path):
    # inspect first line
    with open(data_path) as f:
        print("First line of CSV:", f.readline())
    

    #load with tutorial parameters
    try:
        penguins=pd.read_csv(data_path, sep=",",header=0, index_col="rowid")
        print("first five rows:")
        print(penguins.head())

        # export example
        adelie_penguins= penguins[penguins["species"]=="Adelie"]
        adelie_penguins.to_csv("../Datasets/adelie_penguins.csv", index=True, sep=",")
        print("Exported to .. ../Datasets/adelie_penguins.csv ")
    except KeyError as e:
        print(f"Error: {e}. check if 'rowid' exists in CSV.")
else:
    print(f"Error: {e}. check if 'rowid' exists in CSV")
    print("files in ../Datasets:", os.listdir("../datasets"))

First line of CSV: "rowid","species","island","bill_length_mm","bill_depth_mm","flipper_length_mm","body_mass_g","sex","year"

first five rows:
      species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
rowid
1      Adelie  Torgersen            39.1           18.7              181.0
2      Adelie  Torgersen            39.5           17.4              186.0
3      Adelie  Torgersen            40.3           18.0              195.0
4      Adelie  Torgersen             NaN            NaN                NaN
5      Adelie  Torgersen            36.7           19.3              193.0

       body_mass_g     sex  year
rowid
1           3750.0    male  2007
2           3800.0  female  2007
3           3250.0  female  2007
4              NaN     NaN  2007
5           3450.0  female  2007
Exported to .. ../Datasets/adelie_penguins.csv