Pandas is all about DataStructures - containers for organizing data, like spreadsheets in python. Two core DSA are:
1. series: A one-dimensional array, like a single column in a spreadsheet.
2. DataFrame: A two-diemnsional table, like entire spreadsheets with rows and columns.

In [5]:
import pandas as pd
data_path="..\Datasets\penguins.csv"
penguins=pd.read_csv(data_path)
penguins.head(n=2)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007

In [8]:
# on taking island column as series: 
island_series=penguins["island"]
type(island_series)

pandas.core.series.Series

In [9]:
island_series.head()

0    Torgersen
1    Torgersen
2    Torgersen
3    Torgersen
4    Torgersen
Name: island, dtype: object

In [10]:
island_series.dtypes

dtype('O')

In [ ]:
island_series.index
# it starts from 0 to 342.

RangeIndex(start=0, stop=344, step=1)

In [ ]:
island_series.describe()
#only 3 values are unique and others seems repeated.

count        344
unique         3
top       Biscoe
freq         168
Name: island, dtype: object

In [ ]:
# to get all unique values. 
island_series.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [15]:
# to get count of unique values.
island_series.nunique()

3

In [ ]:
# values which are null
island_series.isnull().sum()

#no null values in this column

np.int64(0)

In [21]:
body_mass_series=penguins["body_mass_g"]
body_mass_series.isnull().sum()

np.int64(2)

In [22]:
body_mass_series.describe()

count     342.000000
mean     4201.754386
std       801.954536
min      2700.000000
25%      3550.000000
50%      4050.000000
75%      4750.000000
max      6300.000000
Name: body_mass_g, dtype: float64

In [24]:
# to convert all values in uppercase
island_series.str.upper()

0      TORGERSEN
1      TORGERSEN
2      TORGERSEN
3      TORGERSEN
4      TORGERSEN
         ...
339        DREAM
340        DREAM
341        DREAM
342        DREAM
343        DREAM
Name: island, Length: 344, dtype: object