# Pandas: built on two key python libraries, easy to use open source data analysis and manipulation tool. 
1. numpy
2. Matplotlib

It is designed to handle rectangualr data.

# .head(), .tail() and .info() method. 
Head and tail gives the information of first and last 5 rows respectively. df.head(n),.tail(n) where n is the number of rows. <br>
info gives the data frame summary, including no.of rows,columns, column names, data types, non-null counts and memory usages which helps to understand the structure and check missing values and verify data types.

In [40]:
import pandas as pd
import numpy as np 
penguins=pd.read_csv("..\Datasets/penguins.csv")
penguins.head(n=6)
penguins.tail()
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

# difference betwen method and attribute.
1. method: function that belongs to an objectand performs an action. call with parenthesis ().
2. attribute: characterstics of an object and performs an action which can accesed without parenthesis.

In [4]:
#The .shape attribute
penguins.shape

(344, 9)

In [ ]:
# .describe() method gives the common summary of numeric columns in the data frames. It calculates common statistics like mean,median and standard deviation. 
# the value count shows how many missing value are in each column.  Quick overview of data. 
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [ ]:
# The .values attribute: contains the actual data stored in 2D numpy array. Raw data
penguins.values

array([[1, 'Adelie', 'Torgersen', ..., 3750.0, 'male', 2007],
       [2, 'Adelie', 'Torgersen', ..., 3800.0, 'female', 2007],
       [3, 'Adelie', 'Torgersen', ..., 3250.0, 'female', 2007],
       ...,
       [342, 'Chinstrap', 'Dream', ..., 3775.0, 'male', 2009],
       [343, 'Chinstrap', 'Dream', ..., 4100.0, 'male', 2009],
       [344, 'Chinstrap', 'Dream', ..., 3775.0, 'female', 2009]],
      shape=(344, 9), dtype=object)

In [ ]:
# columns attribute : holds the column name and have index object. 
penguins.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [12]:
# The sort_values() method.
cols=["body_mass_g","flipper_length_mm"]
sort=[True,False]
penguins.sort_values(cols,ascending=sort)  #sorting in descending order.

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
314,315,Chinstrap,Dream,46.9,16.6,192.0,2700.0,female,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
116,117,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
...,...,...,...,...,...,...,...,...,...
229,230,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,male,2008
185,186,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007
169,170,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,male,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009

In [11]:
#subsetting column in pandas
penguins["rowid"]

0        1
1        2
2        3
3        4
4        5
      ...
339    340
340    341
341    342
342    343
343    344
Name: rowid, Length: 344, dtype: int64

In [13]:
#subsetting multiple columns in pandas.
cols=["species","island"]
penguins[cols].head()

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen
3  Adelie  Torgersen
4  Adelie  Torgersen

In [ ]:
#subsetting rows in pandas
penguins[penguins["body_mass_g"]>4000]

#penguins whose body mass is greater than 4000.

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
14,15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
17,18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
19,20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
...,...,...,...,...,...,...,...,...,...
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [16]:
#subsets that contains only Chinstrap penguins.
penguins[penguins["species"]=="Chinstrap"]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [19]:
#subsetting based on multiple conditions.
is_chinstrap=penguins["species"]=="Chinstrap"
not_female=penguins["sex"]!="female"
penguins[is_chinstrap&not_female]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
283,284,Chinstrap,Dream,51.3,18.2,197.0,3750.0,male,2007
285,286,Chinstrap,Dream,51.3,19.9,198.0,3700.0,male,2007
287,288,Chinstrap,Dream,51.7,20.3,194.0,3775.0,male,2007
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
292,293,Chinstrap,Dream,50.3,20.0,197.0,3300.0,male,2007
295,296,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
297,298,Chinstrap,Dream,48.5,17.5,191.0,3400.0,male,2007
299,300,Chinstrap,Dream,50.6,19.4,193.0,3800.0,male,2007
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
303,304,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008
305,306,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,308,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
310,311,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008
313,314,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,316,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
316,317,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008
318,319,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
324,325,Chinstrap,Dream,51.5,18.7,187.0,3250.0,male,2009
327,328,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
331,332,Chinstrap,Dream,52.2,18.8,197.0,3450.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
334,335,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009
336,337,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [21]:
#subsetting rows with .isin method: takes a list of values to match. 
#for example we want to filter penguins living in Bisco and Dream Islands
is_biscoe_dream=penguins["island"].isin(["Biscoe","Dream"])
penguins[is_biscoe_dream]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [23]:
#Adding new columns: mutating, transforming or feature engineering. 
# if we want penguin mass in kg instead of g.
penguins["body_mass_kg"]=penguins["body_mass_g"]/1000
penguins.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

In [ ]:
# summarize numerical data
penguins["body_mass_g"].mean()

# other summzarization method .mean(),median(),max(),min(),sum(),var(),std()

np.float64(4201.754385964912)

In [ ]:
# The .agg() method: multiple summary statistics at once. 
penguins["body_mass_g"].agg(["mean","median"])

#agg method to summarize statistics for multiple columns as well.
penguins[["body_mass_g","flipper_length_mm"]].agg(["mean","median"]) 


# the agg methods lets us to calculate custom summaries as well
def pct_25(col):
    return col.quantile(0.25)
def pct_75(col):
    return col.quantile(0.75)

penguins[["body_mass_g","flipper_length_mm"]].agg([pct_25,pct_75])

        body_mass_g  flipper_length_mm
pct_25       3550.0              190.0
pct_75       4750.0              213.0

In [ ]:
# we can also calculate cumulative statistics: cumsum,cummax, cummin, cumprod
penguins["body_mass_g"].cumsum()

#first num is first mass of penguins and second is sum between first and second and final is sum of all masses of penguins

0         3750.0
1         7550.0
2        10800.0
3            NaN
4        14250.0
         ...
339    1421950.0
340    1425350.0
341    1429125.0
342    1433225.0
343    1437000.0
Name: body_mass_g, Length: 344, dtype: float64

In [32]:
# remove duplicate observation with .drop_duplicates() : takes subset argument which tells pandas to which colummn to check for duplicates.
penguins.drop_duplicates(subset="species") # we have datavframe where each penguin species appears only one. 

#subsets with two or more columns
penguins.drop_duplicates(subset=["species","island"])

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007,3.40
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007,3.25
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007,4.50
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007,3.50

In [ ]:
# count the .value_counts method
penguins["species"].value_counts(sort=True)  #sort gives data with highest species counts on the top. 
#normalize turns the counts into proportions of total.
penguins["species"].value_counts(normalize=True)

species
Adelie       0.441860
Gentoo       0.360465
Chinstrap    0.197674
Name: proportion, dtype: float64

In [ ]:
# grouped statistcs
# the .groupby() method
# group by the species column, select body mass column and call mean.
penguins.groupby("species")["body_mass_g"].mean() #average body masses for each penguin species. 

#several summary statistics: by grouping and calling a list of summary function inside agg.
penguins.groupby("species")["body_mass_g"].agg(["mean","max","median"])
#we can write our own summary functions as well.

                  mean     max  median
species
Adelie     3700.662252  4775.0  3700.0
Chinstrap  3733.088235  4800.0  3700.0
Gentoo     5076.016260  6300.0  5000.0

In [42]:
# the .pivot_table() method: # value arguments= species column should be summarises and index= column we want to groupby. 
penguins.pivot_table(values="body_mass_g", index="species")

           body_mass_g
species
Adelie     3700.662252
Chinstrap  3733.088235
Gentoo     5076.016260

In [ ]:
# handling missing values in .pivot_table() . #NaN can be filled by fill value argument
penguins.pivot_table(values="body_mass_g",index="species",columns="flipper_length_mm", fill_value=0)

#margins=True :  include extra row and columns that shows mean of each group excluding missing values filled with zero.

flipper_length_mm,172.0,174.0,176.0,178.0,179.0,180.0,181.0,182.0,183.0,184.0,...,221.0,222.0,223.0,224.0,225.0,226.0,228.0,229.0,230.0,231.0
species,,,,,,,,,,,,,,,,,,,,,
Adelie,3150.0,3400.0,3450.0,3350.0,2975.0,3720.0,3340.0,3258.333333,3312.5,3664.285714,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
Chinstrap,0.0,0.0,0.0,3250.0,0.0,0.0,3650.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
Gentoo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,5430.0,5462.5,5750.0,5516.666667,5337.5,5200.0,5525.0,5875.0,5735.714286,5650.0

In [ ]:
#indexing: colummns and index attributes of index objects. 
# columns as index using .set_index()
penguins_new=penguins.set_index("rowid")
print(penguins_new)   

# coluimn rowid is the part of the index.

         species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
rowid
1         Adelie  Torgersen            39.1           18.7              181.0
2         Adelie  Torgersen            39.5           17.4              186.0
3         Adelie  Torgersen            40.3           18.0              195.0
4         Adelie  Torgersen             NaN            NaN                NaN
5         Adelie  Torgersen            36.7           19.3              193.0
...          ...        ...             ...            ...                ...
340    Chinstrap      Dream            55.8           19.8              207.0
341    Chinstrap      Dream            43.5           18.1              202.0
342    Chinstrap      Dream            49.6           18.2              193.0
343    Chinstrap      Dream            50.8           19.0              210.0
344    Chinstrap      Dream            50.2           18.7              198.0

       body_mass_g     sex  year
rowid
1           3750.0    male  2007
2           3800.0  female  2007
3           3250.0  female  2007
4              NaN     NaN  2007
5           3450.0  female  2007
...            ...     ...   ...
340         4000.0    male  2009
341         3400.0  female  2009
342         3775.0    male  2009
343         4100.0    male  2009
344         3775.0  female  2009

[344 rows x 8 columns]

In [48]:
# use .reset_index() to remove any indexes.
penguins_new.reset_index() 

#setting drop argument as true removes the index columns from the data frame entirely.
penguins_new.reset_index(drop=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [50]:
#subset using indexes: without index code can be messy for something that seems so simple.
penguins_new=penguins.set_index("rowid")
penguins_new.loc[[1,2,3]]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
rowid,,,,,,,,
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [ ]:
# Hierarchical index
penguins_new2=penguins.set_index(["rowid","species"])   #species are grouped into each rowid. 
penguins_new2.head()

,,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
rowid,species,,,,,,,
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [52]:
# hierarchical indexing: subset outer levels.
penguins_new2.loc[[1,2,3]]

,,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
rowid,species,,,,,,,
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [ ]:
# hierarchical indexing: subset inner levels, using tuples
#adelie only returns when rowid is 1. 
penguins_new2.loc[[(1,"Adelie"),(340,"Chinstrap")]]

,,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
rowid,species,,,,,,,
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009

In [ ]:
#sorting indexes: it sort all level of data foom outermost and innermost level in ascending order. 
penguins_new2.sort_index().head()

,,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
rowid,species,,,,,,,
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007