# Pandas LeetCode Study Plan Solutions

This notebook contains solutions to the Pandas study plan problems from LeetCode.  
It serves as a portfolio of the answers I submitted on LeetCode.
[LeetCode Pandas Study Plan](https://leetcode.com/studyplan/30-days-of-pandas/)

---

# Question 1 : 595. Big Countries
Write a solution to find the name, population, and area of the big countries. Return the result table in any order.

#### Combine conditions
- &   -> AND
- |   -> OR

#### Filter rows
df.loc[condition, columns]

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world.loc[(world["area"]>=3000000) | (world["population"]>=25000000),["name","population","area"]]


Input:

| name        | continent | area    | population | gdp          |
| ----------- | --------- | ------- | ---------- | ------------ |
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |

---
output:

| name        | population | area    |
| ----------- | ---------- | ------- |
| Afghanistan | 25500100   | 652230  |
| Algeria     | 37100000   | 2381741 |

# Question 2. 1757. Recyclable and Low Fat Products

Write a solution to find the ids of products that are both low fat and recyclable. Return the result table in any order.

In [3]:
import pandas as pd

data = {
    "product_id": [101, 102, 103, 104],
    "low_fats": ["Y", "N", "Y", "N"],
    "recyclable": ["N", "Y", "Y", "N"]
}


products = pd.DataFrame(data)


def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.loc[(products["low_fats"]=="Y")&(products["recyclable"]=="Y"),["product_id"]]

find_products(products)

   product_id
2         103

# Question 3. 183. Customers Who Never Order
Write a solution to find all customers who never order anything. Return the result table in any order.

----
used left joins because it Keeps all rows from the left table (customers), and matches from right table (orders) if exists

In [ ]:
import pandas as pd

# Customers table
customers = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "name": ["Joe", "Henry", "Sam", "Max"]
})

# Orders table
orders = pd.DataFrame({
    "id": [1, 2],
    "customerId": [3, 1]
})

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
     merged_id = pd.merge(customers, orders, left_on="id", right_on="customerId", how="left")
     return merged_id.loc[merged_id["customerId"].isna(),["name"]].rename(columns={"name":"customers"})
    
find_customers(customers, orders)

  customers
1     Henry
3       Max

In [ ]:
# since leetcode runtime is so high lets find another method as well
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    mask=~customers["id"].isin(orders["customerId"])
    return customers.loc[mask,["name"]].rename(columns={"name":"customers"})
find_customers(customers, orders)

# This improved little bit runtime in leetcode  
# ~ : Is this customer’s ID in the orders list?”

  customers
1     Henry
3       Max

# Question 4. 1148. Article Views I
Write a solution to find all the authors that viewed at least one of their own articles. Return the result table sorted by id in ascending order.

In [ ]:
def article_views(views: pd.DataFrame)->pd.DataFrame:
    viewed_article=views[(views["author_id"]==views["viewer_id"])]
    viewed_article=viewed_article[["author_id"]].drop_duplicates()
    return viewed_article.rename(columns={"author_id":"id"}).sort_values(by="id")

# Question 5. 1683 Invalid Tweets 
Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15. Return the result table in any order.

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    invalid=tweets[tweets["content"].str.len()>15]
    return invalid[["tweet_id"]]